/** {
	border: 1px dashed blue;
}*/

div {
	display: block;
	text-align: center;
}

.header {
	text-align: right;
}

li {
	display: inline;
}
.footer {
	clear: both;
}

#left_foot {
	float: left;
}

#right_foot {
	float: right;
}
